.property-form {
  display: flex;
  align-items: center;
  .property-form-left-column {
    flex-basis: 45%;
  }
  &.isDisplayed {
    align-items: initial;
    background: #ffffff;
    padding-bottom: 40px;
    margin-top: 20px;
    @media (max-width: 1200px) {
      padding: 15px;
    }
  }
  .property-key,
  .property-label,
  .dropdown-block {
    margin: 20px 0 0 30px;
    width: 422px;

    @media (max-width: 1439px) {
      margin: 5px 5px;
      width: 100%;
    }
  }
  .created-property-item {
    margin-left: 30px;
    display: flex;
    align-items: center;
    &.is-created {
      align-items: baseline;
      cursor: pointer;
    }
    .arrow-icon {
      padding-right: 10px;
    }
    .created-property-keytype {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #272727;
      opacity: 0.6;
    }
  }
  .property-form-dropdown-inputs {
    width: calc(422px - 20px);
    flex-direction: column;
    margin-left: 20px;
    .property-form-dropdown-inputs-keyInp {
      width: 300px;
      position: relative;
      span {
        display: block;
        width: 30px;
        position: absolute;
        top: 0px;
        right: 5px;
        cursor: pointer;
      }
    }
  }
  .add-options-button {
    margin-top: 10px;
    width: 30%;
  }
  .validation-section {
    margin-left: 108px;
    flex: 1;
    flex-basis: 45%;
    .validation-required-toggle {
      margin-top: 50px;
    }
    .validation-section-minmax {
      display: flex;
      margin-top: 30px;
      .validation-section-min-max-input {
        flex-basis: 200px;
        &:last-of-type {
          margin-left: 22px;
        }
      }
    }
    .pattern-block {
      margin-top: 18px;
      width: 422px;
      @media (max-width: 1200px) {
  width: 100%;
      }
    }
    @media (max-width: 1200px) {
      margin-left: 10px;
    }
  }
  .delete-icon {
    margin: 13px 13px 0 auto;
    &.isDisplayed {
          margin: 13px 13px 0 0;
    }

    cursor: pointer;
  }
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}
.section-title {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #272727;
  margin-top: 20px;
  &.title-left {
    margin-left: 30px;
  }
}
