.textfield {
  box-sizing: border-box;
  .input-container {
    input {
      box-sizing: border-box;
      padding: 12px 15px;
      border: 1px solid rgba(23, 23, 25, 0.2);
      border-radius: 5px;
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
      outline: none;
      width: 100%;
      &.error {
        background: rgba(235, 87, 87, 0.1);
        color: #eb5757;
        border: 1px solid #eb5757;
        &::placeholder {
          color: #eb5757;
        }
      }
      &:hover {
        background: rgba(197, 228, 249, 0.1);
      }
      &:active,
      &:focus {
        background: rgba(197, 228, 249, 0.3);
      }
      &:hover,
      &:active,
      &:focus {
        border: 1px solid #1390e5;
      }
    }
    &.removeIcon {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border: 1px solid rgba(23, 23, 25, 0.2);
      border-radius: 5px;
      width: 90%;
      margin-left: auto;
      input {
        border: unset;
        border-radius: unset;
      }
      span {
        cursor: pointer;
      }
    }
  }
}
